<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html"/>
    <title>welcome</title>
</head>
<body>
<div id="registrationBlock" class="lightbox">
    <div class="lb-wrap">
        <div class="lb-content">
            <form id="registrationForm" name="registrationForm" method="POST" action="users">
                <h1>msg</h1>
                <div th:text="hello"></div>
                <label for="r_first_name">Имя</label>
                <input type="text" id="r_first_name" name="user.firstName"/>
                <label for="r_middle_name">Отчество</label>
                <input type="text" id="r_middle_name" name="user.middleName"/>
                <label for="r_last_name">Фамилия</label>
                <input type="text" id="r_last_name" name="user.lastName"/>
                <label for="r_email">E-mail</label>
                <input type="email" id="r_email" name="user.email"/>
                <label for="r_password">Пароль</label>
                <input type="password" id="r_password" name="user.password"/>
                <label for="r_skype">Скайп</label>
                <input type="text" id="r_skype" name="user.skype"/>
                <label for="r_mobile_phone">Моб. телефон</label>
                <input type="text" id="r_mobile_phone" name="user.phoneSet.phoneNumber"/>
                <input type="submit" value="Зарегистрироваться"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>
